*{
    margin: 0;
    padding: 0;
}

:root{
    --primary_color: #11172A;
    --primary_font: 24px;
    --secondary_font: 50px;
}

.bg_primary{
    background-color: var(--primary_color);
}

.w_400{
    width: 450px;
}

.w_200{
    width: 150px;
    margin-top: 10px;
}

.project_img{
    width: 400px;
    height: 400px;
}
.margin_t{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_justify{
  text-align: justify;
}

.font_secondary{
    font-size: var(--secondary_font);
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 80%;
    width: auto;
    z-index: 999;
  }
}
